.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.visited{
    background-color: rebeccapurple;
}
.flag-container img{
    width: 50px;
    margin: 10px;
}